*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #ffffff;
--accent1-color: #264653; 
--accent2-color: #e9c46a; 
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;}

header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: var(--accent2-color);
    align-items: center;
    align-content: center;

}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header,main,footer {
    width: 100%;
    margin: 0 auto;
}
h1,h2{
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
header nav {
    display: flex;
    justify-content: space-evenly;
}
header nav a {
 color: var(--accent1-color);
    text-decoration: none;
}
header nav a:hover{
    color: rgb(0, 51, 146);
    letter-spacing: 1px;
}
.socialmedia a {
       margin: 10px 10px;
    text-decoration: none;
}
.socialmedia a img:hover {
  
   width: 38px; 
}
.socialmedia a img {
    width:35px;
    height: auto;
}
.hero {
    position: relative;

}

.hero article {
    font-size: 13px;
    color: #fff;
    top: 50%;
    position: absolute;
    background-color: var(--accent1-color);
}
.hero img {
    border-radius: 10px;
display: block;
width: 100%;
height: auto;}
.hero h1 {
position: absolute;
top: 20px;
width: 100%;
padding: 16px;
text-align: center;
opacity: 0.7;
background-color: var( --accent1-color);
color: #fff; 
}
.hero article img {
float: right;
width: 200px;
}
main .section-2 div  {
    margin: 10px 10px;
    display: flex ;
    justify-content: center;
    gap: 20px;
    width: 100%;
      flex-wrap: wrap;  
    align-items: baseline;
}

main .section-2 div figure figcaption {
    display: grid;
    justify-content: center;
    align-items: center;

}
main .section-2 div img  {
    width: 280px;
    height: 200px;
    border-radius: 10px;
}


/* contatc.html */
.main-title {
    display: grid;
    justify-content: center;
}
.main-title article {
    display: flex;
    padding: 5px 5px;
}
.main-title form .message-purpose {
    display: flex;
    align-items: center;
   align-content: center;
}
.main-title form .message-purpose section {
   display: flex;
   flex-direction: column;
   align-items: baseline;
   
}

.main-title form {
    display: grid;
    padding: 10px 10px;
}
.main-title form button {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid black;
}
iframe {
    border-radius: 5px;
}
.employee-flex {
    display: flex;
    flex: 1;
    flex-direction: column;
    place-items: center;
  
}
.employee-flex article {
    gap: 50px;
    display: flex;
}
.employee-flex article img{
    width: 250px;
    margin-left: 20px;
    border-radius: 5px;

}
.socialmedia-contact{
    display: grid;
    place-items: center;
}