body {
    display: grid;
    justify-content: center;
    margin-top: 5em;
}
body img {
    border-radius: 20px;
    width: 800px;
}
body h1 {
    display: flex;
    justify-content: center;
}
body p {
    font-size: 20px;
}
@media (max-width:946px) {
    body img{
        width: 350px;
    }
    body p {
        font-size: 10px;
    }
    
}