* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
 
}

header nav {
  display: flex;
  flex-direction: column; 
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;          

}
header nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
main {
    max-width: 540px;
    
}
main h1{
    margin-top: 20px;
}
main p{
    padding-top:3em ;
    height: 200px;
}
main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray ;
    
}
aside img{
    width: 250px;
    height: auto;
    border-radius: 20px;
}
p{
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
aside {
  width: 20em;
  text-align: center;
  position: relative;
}
aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}
main img {
float: right;
margin:  0 0 1rem 1rem;
}