main {
    max-width: 840px;
}
main img{
    width: 150px;
    height: auto;
}
aside img{
    width: 200px;
    height: auto;
    border-radius: 20px;
}
p{
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}